<!DOCTYPE html>

<html layout:decorate="~{fragments/layout}">
	<head>
		<title>Category Page</title>
		<!--<script src ="jquery-3.5.1.min"></script>-->
	</head>
	
	<body>
		<div layout:fragment="content">
		<h1>Category Page</h1>
		<button onclick = "window.location.href='/category/addform'">Create</button>	
		<table border = "2">
			<thead>
				<tr>
					<th>Image</th>
					<th>Category Initial</th> <!--th tampilannya tebal-->
					<th>Category Name</th>
					<th>Is Active</th>
					<th colspan = "2">Action</th>  <!--edit,delete-->
					
				</tr>
			</thead>
			
				
			<tbody>	
				<tr th:each = "item:${listCategory}"> <!--berupa list dari category controller  th(thymleaf) & for each-->
					<th><img th:src="@{${'/img/' + item.sphoto}}" style="width: 50px;"> </th>
					<td th:text = "${item.categoryInitial}"></td>
					<td th:text = "${item.categoryName}"></td>
					<td th:text = "${item.isActive}"></td>
					<td><a th:href="@{/category/edit/{id}(id=${item.id})}">Edit</a></td>  <!--th = thymleaf-->
					<td><a th:href="@{/category/delete/{id}(id=${item.id})}">Delete</a></td>            
					<!--DELET SAMA EDIT HARUS LEMPAR ID KE BACKEND-->
				</tr>	  
			</tbody>
		</table>
		</div>
	</body>
</html>