<!DOCTYPE html>

<html>
	<head>
		<title>Add Form Variants</title>
	</head>
	<body>
		<h1>Variants Form</h1>
		
		<form th:action="@{/variants/save}" method="post" th:object="${variants}">
		<table border="2">
			<tr>
				<td>Category</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${listCategory}" th:value="${item.id}" th:text="${item.categoryName}"></option>
					</select> 
				</td>
			</tr>
			<tr>
				<td>Is Active</td>
				<td><input type="checkbox" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td>Variant Initial</td>
				<td><input type="text" name="variantsInitial" th:field="*{variantsInitial}"></td>
			</tr>
			<tr>
				<td>Variant Name</td>
				<td><input type="text" name="variantsName" th:field="*{variantsName}"></td>
			</tr>
			<tr>
				<td colspan = "2" align="center">
					<input type = "submit" value="save">
					</td>
				
			</tr>
		</table>
		</form>
	</body>
</html>