<!DOCTYPE html>

<html layout:decorate="~{fragments/layout}">
	<head>
		<title>Variants Page</title>
	</head>
	
	<body>
		<div layout:fragment="content">
		<h1>This is Variants Page</h1>
		
		<button onclick="window.location.href='/variants/addform'">Create</button>  <!--Create nbutton arah ke request maping&fungsi-->
		<table border = "2">
			<thead>
				<tr>
					<th>Variants Initial</th> 
					<th>Variants Name</th>
					<th>Category</th>
					<th>Is Active</th>
					<th colspan= "2">Action </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${listVariants}">  <!--thymleaf-->
					<td th:text="${item.variantsInitial}"></td>   <!--category-->
					<td th:text="${item.variantsName}"></td>
					<td th:text="${item.category.categoryName}"></td> 
					<td th:text="${item.isActive}"></td>
					<td>
						<a th:href="@{/variants/edit/{id}(id=${item.id})}">Edit</a> 
					</td>
					<td>
						<a th:href="@{/variants/delete/{id}(id=${item.id})}" onclick="return confirm('Yakin dihapus?')">Delete</a>
					</td>
				</tr>
					
			</tbody>
		</table>
		</div>
	</body>
</html>